<form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form">
  {% if product.variants.size > 1 %}
  <div class="option-row">
    <span class="option-title">
      {{ product.options.first }}
    </span>
    <div class="option-fieldset">
      {% for variant in product.variants %}
      <input class="variant-radio js-variant-radio" type="radio" name="id" id="variant-{{ forloop.index }}"
        value="{{ variant.id }}" data-inventory-quantity="{{ variant.inventory_quantity }}"
        {% unless variant.available %}disabled{% endunless %} />
      <label for="variant-{{ forloop.index }}">{{ variant.title }}</label>
      {% endfor %}
    </div>
  </div>

  {% else %}
  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
  {% endif %}

  <div class="option-row">
    <label class="option-title" for="Quantity">
      {{ 'product.form.quantity' | t }}
    </label>
    <div class="option-fieldset">
      <div class="visually-hidden">
        <input type="number" class="js-quantity-field" id="Quantity" name="quantity" value="1" min="1"
          {% if product.variants.size == 1 %} max="{{ product.variants.first.inventory_quantity }}" {% endif %}>
      </div>
      <button class="quantity-button js-quantity-button  minus" type="button" disabled>&ndash;</button>
      <span class="quantity-text js-quantity-text">1</span>
      <button class="quantity-button js-quantity-button plus" type="button">+</button>
    </div>
  </div>

  <button type="submit" name="add" id="add-to-cart-button" {% if product.variants.size > 1 %} disabled {% endif %}>Add
    to
    cart</button>
</form>