<div id="page-404" class="valign-center">
  <div class="content-404 ta-center">
    <h2>{{ 'general.404.title' | t }}</h2>
    <br />
    <a href="/" class="text-link">{{ 'general.404.back' | t }}</a>
  </div>
</div>