<footer class="footer-global">

  <div class="footer-top grid">
    <ul class="products-list">
      <h4>
        {{ 'footer.list.products' | t }}
      </h4>
      {% for product in collections.frontpage.products limit:4 %}
      <li>
        <a class="h2" href="{{ product.url }}">{{ product.title }}</a>
      </li>
      {% endfor %}
    </ul>
    <ul class="contact-list">
      <h4>
        {{linklists.footer.title}}
      </h4>
      {% for link in linklists.footer.links %}
      <li>
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
        <a href="{{ link.url }}">{{ link.title }}</a>
        [{% for childlink in linklists[child_list_handle].links %}
        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
        {% endfor %}]
        {% else %}
        <a href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    <div class="about-us">
      <h4>
        {{ 'general.about.title' | t }}
      </h4>
      <p>
        {{ 'general.about.description' | t }}
      </p>
    </div>
  </div>
  <div class="footer-bottom">
    {% assign copyright_date = 'now' | date: '%Y' %}
    <span class="h4">
      {{'footer.bottom.copyright' | t: date: copyright_date }}
    </span>
    <div class="social-links">
      <a href="{{'footer.social.facebook_url' | t}}" target="new">
        <img src="{{'facebook.svg' | asset_url}}" alt="{{'footer.social.alt' | t: social: 'Facebook'}}" />
      </a>
      <a href="https://www.instagram.com/{{'footer.social.instagram_handle' | t}}" target="new">
        <img src="{{'instagram.svg' | asset_url}}" alt="{{'footer.social.alt' | t: social: 'Instagram'}}" />
      </a>
      <a href="https://www.twitter.com/{{'footer.social.twitter_handle' | t}}" target="new">
        <img src="{{'twitter.svg' | asset_url}}" alt="{{'footer.social.alt' | t: social: 'Twitter'}}" />
      </a>
    </div>
  </div>

</footer>