<header class="header-global">
  <a class="logo" href="/">
    <img src="{{'logo.svg' | asset_url}}" alt="{{ 'general.shop.title' | t }}" />
  </a>


  <a href="/" class="shop-link text-link">{{'header.nav.shop' | t }}</a>

  {% assign cart_text = 'cart.button.count_html' | t: itemCount: cart.item_count %}
  {% assign cart_close_text = 'cart.button.close' | t %}

  <a href="/cart" class="text-link js-cart-link">
    <span class="cart-text">{{cart_text}}</span>
    <span class="cart-close-text">{{cart_close_text}}</span>
  </a>

  <!--
  {% if shop.customer_accounts_enabled %}
  {% if customer %}

  <a href="/account">account</a>
  {{ 'log out'  | customer_logout_link }}

  {% else %}
  {{ 'log in ' | customer_login_link }}
  {{ 'register' | customer_register_link }}
  {% endif %}
  {% endif %} -->
</header>