<div class="line-item">

  <div class="line-info">
    <a href="{{ item.url }}" class="line-title">
      <span class="h3">
        {{ item.product.title }}
      </span>
      <span class="accent-color">{{ item.quantity }}</span>

    </a>
    <p>
      {{ item.variant.title }} &mdash;
      {{ item.line_price | | money_without_trailing_zeros }}
      {% if item.quantity > 1 %}{{ item.price | money_without_trailing_zeros }}/ea{% endif %}
    </p>
  </div>
  <div class="line-image">
    <a href="{{ item.url }}">
      <img src="{{ item | img_url: '200x200', crop: 'center' }}" alt="{{ item.title | escape }}">
    </a>
    <a class="remove-line js-remove-line" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
      <img src="{{ 'x-remove.svg' | | asset_url }}" alt="remove item">
    </a>

  </div>
</div>







<!-- 

{{ item.line_price | money }} -->