<!doctype html>

<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }}
  <!-- Header hook for plugins -->
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  {{ 'application.scss.css' | asset_url | stylesheet_tag }}


  <script src="//code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
    crossorigin="anonymous"></script>


  {{ 'application.js' | asset_url | script_tag }}
</head>

<body>


  {% include 'header' %}

  <main role="main">
    {{ content_for_layout }}
    {% include 'footer' %}
  </main>
  {% if template != 'cart' %}
  {% include 'mini-cart' %}
  {% endif %}
</body>

</html>