<div id="page" class="wrapper valign-center">
  <div class="page-content">
    <h2 class="page-title ta-center">{{ page.title }}</h2>
    <div class="page-inner">{{ page.content }}</div>
  </div>
</div>